/* header start here */
@media screen and (min-width:200px) and (max-width:599px) {

nav > img{
    width: 100px;
}
nav > .ul_div{
    width: 30%;
    height: 80vh;
    background-color: black;
    position: relative;
    top: 304px;
    right: 350px;
    z-index: 2;
    transition: 1s all ease;
    /* display: none; */
}
nav > .ul_div > ul{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
nav > .ul_div > ul > li >a{
    color: orange;
}

nav > .cart{
    display: none;
}
nav .login_btn{
    display: none;
    /* padding: 5px 20px; */
}
nav > .menu_label > img.menu_open{
    display: block;
    width: 25px;
}
nav > .menu_label > img.menu_close{
    /* display: block; */
    width: 25px;
}
#check:checked ~ .ul_div > ul{
    display: flex;
}

#check:checked ~ .ul_div{
    display: flex;
    right: 207px;
    transition: 1s all ease;
}
}

/* header end here */