* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
@font-face {
  font-family: "bigFont";
  src: url(./Fonts/Bungee/Bungee-Regular.ttf), format(ttf);
}
@font-face {
  font-family: "poppins";
  src: url(./Fonts/Poppins/Poppins-Medium.ttf);
}
body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
}
header {
  grid-column: 1/3;
  height: 10vh;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color:rgb(133, 26, 44);
}
header nav .logoDiv strong {
  font-family: "bigFont";
  font-size: 300%;
}
header nav .ul_Div {
  width: 20%;
}
header nav .ul_Div ul {
  display: flex;
  justify-content: space-between;
}
header nav .ul_Div ul li,
a {
  list-style-type: none;
  text-decoration: none;
}
header nav .ul_Div ul li a {
  /* border: 1px solid; */
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
header nav .ul_Div ul li a:hover {
  background-color: white;
  color: rgb(133, 26, 44);
}
header nav .cartDiv {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 40%;
  border-radius: 5px;
  gap: 10px;
}

header nav .cartDiv img {
  width: 30px;
}
header nav .loginDiv a {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  color:white;
}
header nav .loginDiv a:hover {
   background-color: white;
  color: rgb(133, 26, 44);
}
aside {
    grid-column: 1/2;
    background-color: rgb(136, 55, 82);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    padding: 50px 0;
}
.searchDiv{
    border: 1px solid;
    display: flex;
    align-items: center;
    width: 90%;
    height: 5vh;
    background-color: lightgray;
}
#searchIcon{
    cursor: pointer;
}
#searchInput{
    border: none;
    width: 100%;
    height: 90%;
    font-size: 20px;
}
.selectProduct{
    width: 90%;
    height: 5vh;
   
}
#select,option{
    padding: 0 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    font-size: 20px;
}
main {
}
footer {
}
