* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Bungee";
  src: url(Fonts/Bungee/Bungee-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "fontTwo";
  src: url(Fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}
nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(145, 0, 48);
}

nav .logoDiv strong {
  color: white;
  font-family: "Bungee";
  font-size: 250%;
  cursor: pointer;
}
nav .ulDiv {
  width: 30%;
  height: 50%;
}
nav .ulDiv ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ulDiv ul li {
  list-style: none;
}
nav .ulDiv ul li a {
  font-family: "fontTwo";
  color: white;
  text-decoration: none;
  font-size: 120%;
  padding: 10px 20px;
}
nav .ulDiv ul li a:hover {
  background-color: white;
  color: rgb(145, 0, 48);
  border-radius: 5px;
}

nav .cartDiv {
  background-color: white;
  width: 5%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 8px;
}
nav .cartDiv img {
  width: 30px;
  cursor: pointer;
}
nav .cartDiv span {
  background-color: rgb(145, 0, 48);
  width: 20%;
  height: 50%;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-family: "fontTwo";
}
nav .loginDiv img {
  width: 80%;
  cursor: pointer;
}

/* MAIN SECTION */
.heroDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: lightcoral;
}
.bannerDiv {
  width: 70%;
  height: 50vh;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(banner/bannerOne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerDiv img {
  width: 30px;
  cursor: pointer;
}
.bannerDiv .rightArrow {
  transform: rotate(-180deg);
}
#cardDisplay {
  width: 80%;
  height: 100%;
  border: 1px solid;
  display: flex;
}

/* Cards */
.cardBox{
  width: 30%;
  height: 50vh;
  border: 1px solid red;
  background-color: aqua;
}
.imgDiv{
  width: 50%;
}
.mainIMG{
  width: 120%;
}
.smallImgBox{
  width: 100%;
  height: 5vh;
  border: 1px solid black;
}
.smallImages{
  width: 15%
}