@font-face {
  font-family: "Poppins";
  src: url(./Fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(./Fonts/Bungee/Bungee-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  background-color: #554146;
}
header nav {
  width: 100%;
  height: 10vh;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #183d3d;
  /* position: fixed; */
}
header nav .navLogo {
  font-family: "Bold";
  font-size: 300%;
  color: #a6bb8d;
}
header nav .navUl {
  border: 1px solid white;
  width: 30%;
  height: 70%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
header nav .navUl input {
  width: 90%;
  height: 100%;
  border: none;
  font-family: "Poppins";
  font-size: 120%;
  padding: 0 10px;
}
header nav .navUl input:focus {
  outline: none;
}

header nav .navUl img {
  width: 35px;
  cursor: pointer;
}

header nav .navCart {
  /* border: 1px solid; */
  width: 5%;
  height: 40%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}
#shopCount {
  font-family: "Poppins";
  font-size: 120%;
  text-align: center;
}
header nav .navLogin a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 120%;
  color: #a6bb8d;
}
header nav .navLogin a:hover {
  border-bottom: 3px solid;
}

/* Main  */
main {
  width: 100%;
  height: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
main .bannerDiv {
  width: 60%;
  height: 45vh;
  border: 1px solid;
  background-image: url("./pics/banner/bannerTwo.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
main .bannerDiv img {
  width: 20px;
  cursor: pointer;
}
main .bannerDiv #leftArrow {
  transform: rotate(-180deg);
}
main .productCategories {
  width: 60%;
  height: 25%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .productCategories h2 {
  font-family: "Poppins";
  font-size: 200%;
  color: #183d3d;
  border-bottom: 5px solid #183d3d;
  width: fit-content;
}
main .productCategories #categoriesList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
 row-gap: 20px;
  border: 1px solid;
}
.categoryBox {
  width: 120px;
  height: 160px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 5px ;
}
.categoriesImgDiv {
  width: 100%;
  height: 10vh;
}
.categoriesImg {
  width: 100%;
}
.categoriesName {
  font-family: "Poppins";
}
#productsRender{
  width: 60%;
  height: 60vh;
  background-color: #7c293e;
  border: 2px solid;
}
.ProductsRender{
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
}
.productImg{
  width: 200px;
}
.cardBox{
  width: 300px;
  height: 400px;
  background-color: lightblue;
  border: 1px solid ;
}
